#locationContainerB-title {
    /* Set text color and size */
    color: white;
    font-size: 60px;

    /* Align text to center */
    text-align: center;
    
    /* Add a spacer to the bottom (To separate it from the form) */
    margin-bottom: 30px;
}

#locationContainerB-form {
    /* Fancy up the border */
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 30px;

    /* Set text color aand size */
    color: white;
    font-size: 25px;
}

.locationContainerB-option {
    /* Set size of text for the dynamically generated location options */
    font-size: 40px;
}



.locationContainerB-option input[type="radio"] {
    appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    display: inline-block;
    position: relative;
    cursor: pointer;
    
}

.locationContainerB-option input[type="radio"]:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.locationContainerB-option input[type="radio"]:checked:before {
    background-color: #fff;
}



#locationContainerB-wrapper-button {
    /* A wrapper div to center the select button */
    display: flex;
    justify-content: center;
}

#locationContainerB-button {
    /* Make some room between the location box and button */
    margin-top: 25px;

    /* Fancy up the border */
    border: 2px solid #ccc;
    border-radius: 10px;
    
    /* Fancy up the button */
    padding: 10px;
    width: 125px;

    /* Set background */
    background-color: transparent;

    /* Color it */
    font-size: 30px;
    color: #ccc;
}

#locationContainerB-button:hover, #locationContainerB-button:focus {
    border-color: #888;
}
